$w-color-primary: #009FE3;
$w-color-secondary: #E4032E;
//$w-color-dark: #181b1d !default;
$w-color-medium: #7D8386;
//$w-color-light: #eef1f5 !default;
//$w-color-white: #fff !default;
//$w-color-black: #000 !default;


$w-def-font-family: 'Roboto Condensed';
$w-def-font-size: 20px;
$w-def-font-weight: 400;

$w-h1-size: 1.6em;
$w-h1-size-bp: 3.7em;
$w-h2-size: 1.5em;
$w-h2-size-bp: 2.6em;
$w-h3-size: 1.2em;
$w-h3-size-bp: 1.3em;
//$w-h4-size: 1.3em !default;
//$w-h4-size-bp: 1.4em !default;
//$w-h5-size: 1.15em !default;

$w-button-color-icon: $w-color-secondary;
$w-button-font-weight: 700;
$w-button-padding-vertical: 1em;
$w-button-padding-horizontal: 1.2em;

$w-container-padding-y-m: 14rem;
$w-container-padding-x-m: 4rem;